.box1 {
    width: 500px;
    height: 500px;
    background-color: aqua;
    margin: 50px;
    
}
.box12 {
    background-color: chartreuse;
}
.box2 {
    background-color: pink;
}

.box3 {
    background-color: darkkhaki;
}